*,
*::before,
*::after {
	box-sizing: border-box;
	color: rgb(40, 40, 40);
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin: 0;
	padding: 0;
}

.wrapper {
	border: 1px dashed black;
	padding: 20px;
	height: 500px;
}

.flex-container {
	display: flex;
	align-items: center;
}

.flex-item {
	background-color: lightgray;
	border: 1px solid black;
	flex-grow: 1;
	margin: 16px;
	padding: 16px 24px;
	text-align: center;
	/* width: 300px; */
}

.flex-item:nth-child(3) {
	/* flex-grow: 3; */
	/* flex-shrink: 3; */
	/* flex-basis: 600px; */
	flex: 1 1 600px;
	align-self: flex-end;
}
