*,
*::before,
*::after {
	box-sizing: border-box;
	color: rgb(40, 40, 40);
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin: 0;
	padding: 0;
}

.wrapper {
	border: 1px dashed black;
	padding: 20px;
	height: 500px;
}

.flex-container {
	display: flex;
	/* justify-content: center;*/ /* centriranje po vodoravnoj osi (kada je glavna os vodoravna) */
	/* align-items: center; */
	/* align-content: center;
	flex-wrap: wrap; */
	align-items: flex-start;
}

.flex-item {
	background-color: lightgray;
	border: 1px solid black;
	margin: 16px;
	padding: 16px 24px;
	text-align: center;
	width: 30%;
}

.flex-item:nth-child(3) {
	order: -100000;
}

.flex-item:nth-child(4) {
	order: 1;
}
