*,
*::before,
*::after {
	box-sizing: border-box;
	color: rgb(40, 40, 40);
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin: 0;
	padding: 0;
}

div {
	background-color: orange;
	border: 1px solid black;
	height: 100px;
	margin: 50px auto;
	width: 200px;
}

.translate {
	transform: translate(200px, -50px);
}

.rotate {
	transform: rotate(25deg);
}

.scale {
	transform: scale(0.5, 0.2);
}

.skew {
	transform: skew(20deg, 20deg);
}

.multiple {
	transform: scale(0.5, 0.4) rotate(20deg) skew(20deg, 30deg);
}
