$boja1: whitesmoke;
$boja2: #333;
$border-boja: red;
$font1: sans-serif;

@mixin a-button {
	background-color: $boja2;
	color: $boja1;
	padding: 12px 48px;
}

@mixin box-shadow($opacity: 0.25) {
	box-shadow: 0px 8px 16px 4px rgba(0, 0, 0, $opacity);
}

@mixin flex-container {
	display: flex;
	justify-content: space-between;
}

@mixin align-element($display, $margin, $alignment) {
	display: $display;
	margin: $margin;
	text-align: $alignment;
}

body {
	background-color: $boja1;
	color: $boja2;
	font-family: $font1;
}

header {
	a {
		@include a-button;
		@include box-shadow(0.5);
		&:hover {
			background-color: red;
		}
		@include align-element(block, 24px, center);
	}
}

section {
	@include flex-container;
	background-color: darkred;
	padding: 16px;
	article {
		background-color: $boja1;
		flex-basis: 48%;

		a {
			@include align-element(inline-block, 20px, center);
		}
	}
}

footer {
	a {
		@include box-shadow;
		@include a-button;
	}
}
