$tamna-boja: #333;
$svijetla-boja: whitesmoke;
$siva-boja: darkgrey;
$crvena-boja: darkred;
$narancasta-boja: orange;

$tamna-pozadina: $tamna-boja;
$svijetla-pozadina: $svijetla-boja;
$border-boja: $tamna-boja;
$link-pozadina: $crvena-boja;
$hover-boja: $siva-boja;
