* {
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
	padding: 1em;
}

.wrapper div {
	background: #eee;
	border: 1px solid #666;
	padding: 1em;
	text-align: center;
}

.flex-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.flex-item {
	-webkit-box-flex: 0;
	-ms-flex: 0 100%;
	flex: 0 100%;
	height: 100px;
	margin-bottom: 2%;
}

@media (min-width: 478px) {
	.flex-item {
		flex-basis: 49%;
	}
}

@media (min-width: 768px) {
	.flex-item {
		flex-basis: 32%;
	}
}

@media (min-width: 1024px) {
	.flex-item {
		flex-basis: 24%;
	}
}

@media (min-width: 1200px) {
	.flex-item {
		flex-basis: 19%;
	}
}
